<%= simple_form_for([@car, @booking]) do |f| %>
<h1>Reservez <%= @car.brand%></h1>
  <%= image_tag ("#{@car.photo_url}"), class: "image-cars"%>
<p>Réservation</p>
  <%= f.input :duration, label: false %>
  <%= f.input :endduration, label: false %>
  <%= f.submit %>
<% end %>
